# Logs
logs
*.log*

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# IDEA/Webstorm project files
.idea

#VSCode metadata
.vscode

# Mac files
.DS_Store
